<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Taha Rushain</h1>
		<p>This is a test blog being developed in Rails.</p>
		<p>I am on a quest to learn ruby on rails, and learning rails without creating a blog in it sounds borings!</p>
		<p>If you'd like to get in touch, find me on Twitter <a href="https://twitter.com/trushain">@trushain</a> or on facebook at <a href="https://www.facebook.com/Trushain">Trushain</a>, and feel free to contact me. </p>
	</div>
</div>